/* ImageRatingComponent.css */

.content-rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.content-rating {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .image {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .rating-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .like-button,
  .dislike-button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    transition: background-color 0.3s;
  }
  
  .like-button:hover,
  .dislike-button:hover {
    background-color: #2980b9;
  }
  
  #reactInfo{
    max-width: 400px;
    text-align: justify;
  }